body {
  text-align: center;
  margin: 0 auto;
}
.wrap {
  width: 100%;
}
.form-control{
  float: left;
  width: 90%;
}

.button {
  float: left;
  height: 34px;
  
}

.random {
  clear: both;
  padding: 1em 0;
  margin: 1em;
}

.random_button {
  margin: 1em 0;
  color: black;
}

li {
  margin: 0 2em;
  color: black;
}

.term {
  font-size: 1.5em;
  
}